.success {
  text-align: left;
}

.distributionInfo {
  margin: 5rem auto;
  max-width: 75%;
}
.distributionInfo h4 {
  margin-bottom: 2rem;
}

hr {
  max-width: 75%;
  text-align: center;
  margin: 0 auto;
}

.superfluid {
  margin: 5rem auto;
  max-width: 75%;
}
