.wallet {
  text-align: left;
}

.balances {
  max-width: 75%;
  margin: 5rem auto;
}

.balancesTitle {
  margin-bottom: 1rem;
}

.supertokenOperations {
  margin: 5rem 0;
}

.tokenUpgrader,
.tokenDowngrader {
  margin: 0 auto;
}

.superfluid {
  margin: 5rem auto;
  max-width: 75%;
}

.approval {
  margin: 5rem auto;
  max-width: 75%;
}
